/***********/
/* Content */
.wishlist-content {
  margin-left: 0rem;
  margin-top: 6rem;
  background-color: var(--bg-color-3);
}

.content-header {
  display: flex;
  gap: 1rem;
}

.wishlist-content-card-section {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
