/***********/
/* Content */
.wishlist-content {
  margin-left: 0rem;
  margin-top: 6rem;
  background-color: var(--bg-color-3);
  min-height: 90vh;
}

.content-header {
  display: flex;
  gap: 1rem;
}

.wishlist-content-card-section {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .wishlist-content {
    padding: 0;
  }
}
