/***********/
/* Content */
.cart-content {
  margin-top: 6rem;
  background-color: var(--bg-color-3);
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 90vh;
}

.content-header {
  display: flex;
  gap: 1rem;
}

/* Checkout */
.checkout-section {
  position: sticky;
  top: 11rem;
  height: min-content;
  background-color: var(--bg-color);
  padding: 2rem;
  border-radius: 5px;
}

.hr {
  border-top: 1px solid var(--bg-color-3);
}

.checkout-container {
  width: 40rem;
}

/* Utils */

.hide-ovrflw {
  overflow: hidden;
}

.strike {
  text-decoration: line-through;
}

.hide-section {
  visibility: hidden;
}

.empty-cart-container {
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 15rem;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
}

.empty-cart-img {
  height: 40rem;
  width: 40rem;
}

@media screen and (max-width: 850px) {
  .cart-content {
    padding-left: 0;
  }

  .product-section {
    margin-left: 0;
  }

  .card {
    min-width: 50rem;
  }

  .checkout-container {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .cart-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    padding-right: 0;
  }

  .content-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .product-section {
    margin: 0;
  }

  .card {
    padding-bottom: 2rem;
  }

  .card-btn-container .btn {
    font-size: 1.3rem;
  }

  .checkout-container {
    width: 85%;
    margin: auto;
  }

  .btn-place-order {
    margin-left: auto;
  }

  .empty-cart-container {
    top: 20rem;
  }

  .empty-cart-img {
    height: 30rem;
    width: 30rem;
  }
}
