.checkout-info-section {
  background-color: var(--bg-color);
  width: 90%;
}

.checkout-address-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.success-msg {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.success-action {
  width: 80%;
}

.checkout-content {
  margin-top: 6rem;
  background-color: var(--bg-color-3);
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 90vh;
}

.checkout-content .card-horizontal {
  height: min-content;
  min-width: 60rem;
}
