/***********/
/* Header */

/* Container */

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bg-color);
  z-index: 1;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
}

.header-middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-icon {
  display: none;
}

.login-icon {
  display: none;
}

/* Typography */

.logo-title {
  color: var(--primary-color);
}

/*Search Input */

.search-icon {
  position: relative;
}

.search-icon i {
  position: absolute;
  left: 1rem;
  top: 1.2rem;
  font-size: 1.3rem;
  color: var(--txt-color-light-2);
}

.search-icon input {
  padding-left: 3rem;
  height: 3.6rem;
  border: 1px solid var(--border-color);
}

.search-icon input:focus {
  outline: none;
}

/* Nav */

.nav-container .nav-link {
  height: auto;
  text-decoration: none;
}
.nav-container .nav-link:hover {
  color: var(--txt-color-light-2);
}

/* Button */

.btn-sm {
  min-height: 3.5rem;
  height: 3.5rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color-light);
}

.btn-secondary {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
  color: var(--txt-color-2);
}

/* Icon */

.badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  color: var(--txt-color-2);
  z-index: 1;
}

.ic-normal {
  font-size: 2.4rem;
  color: var(--txt-color);
}

.ic-normal:hover {
  color: var(--txt-color-light-2);
}
/* Header */
/***********/

@media screen and (max-width: 700px) {
  /* Header */
  .header-container {
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .header-middle {
    display: none;
  }

  .btn-login {
    display: none;
  }

  .cart-label {
    display: none;
  }

  .badge-container {
    margin-left: 2rem;
  }

  .search-icon {
    display: block;
  }

  .login-icon {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
  }
}
