/***********/
/* Header */

/* Container */

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--bg-color);
  z-index: 5;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
}

.header-middle {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-left: 10rem;
}

.login-icon {
  display: none;
}

/* Typography */

.logo-title {
  color: var(--primary-color);
}

/*Search Input */

.search-icon-container {
  position: relative;
}

.search-icon {
  color: var(--border-color);
  position: absolute;
  left: 1rem;
  top: 8px;
  font-size: 2rem;
}

.search-icon-container input {
  padding-left: 3.5rem;
  height: 3.6rem;
  border: 1px solid var(--border-color);
}

.search-icon-container input:focus {
  outline: none;
}

.search-icon-mb {
  display: none;
}

/* Nav */

.nav-container .nav-link {
  height: auto;
  text-decoration: none;
}
.nav-container .nav-link:hover {
  color: var(--txt-color-light-2);
}

/* Button */

.btn-sm {
  min-height: 3.5rem;
  height: 3.5rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color-light);
}

.btn-secondary {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  background-color: var(--bg-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
  color: var(--txt-color-2);
}

/* Icon */

.badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  color: var(--txt-color-2);
  z-index: 1;
}

.ic-normal:hover {
  color: var(--txt-color-light-2);
}

.user-icon-container {
  margin-left: 3rem;
  margin-top: 3px;
}

/* Header */
/***********/

@media screen and (max-width: 800px) {
  .header-middle {
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  /* Header */
  .header-container {
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .header-middle {
    display: none;
  }

  .btn-login {
    display: none;
  }

  .cart-label {
    display: none;
  }

  .badge-container {
    margin-left: 2rem;
  }

  .search-icon {
    display: block;
  }

  .login-icon {
    margin-left: 2rem;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-icon-mb {
    display: block;
    margin-right: 2rem;
    margin-bottom: 2px;
  }

  .show-in-mb {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
  }

  .show-in-mb .input-container {
    width: 100%;
  }

  .show-in-mb input {
    height: 6rem;
    z-index: 2;
  }

  .search-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
  }

  .user-icon-container {
    margin-left: 1.5rem;
    margin-bottom: 3px;
  }
}
