.savedAddressContainer {
  padding: 2rem;
  position: relative;
  border-radius: 5px;
}

.name-container {
  display: flex;
  gap: 2rem;
}

.address {
  width: 50%;
  line-height: 2.5rem;
}

.menu-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  gap: 1rem;
}

ion-icon {
  font-size: 2rem;
}

.active-address-tag {
  border: 2px solid var(--secondary-color);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}
