/* Theme 1 */
:root {
  /* Main */
  --primary-color: #facc15;
  --secondary-color: #0ea5e9;
  --bg-color: #fffffc;
  --txt-color: #1f2937;
  --txt-color-2: #fffffc;
  --cta-color: #dc2626;

  /* Shades */
  --primary-color-light: #fde047;
  --primary-color-dark: #eab308;
  --secondary-color-light: #38bdf8;
  --secondary-color-dark: #0284c7;
  --txt-color-light: #374151;
  --txt-color-light-2: #64748b;
  --txt-color-dark: #111827;
  --cta-color-light: #ff5a91;
  --cta-color-dark: #cf1150;
  --bg-color-2: #f5f2f2;
  --bg-color-3: #fcf9f9;
}

/* Color class */
.bg-pri-color {
  background-color: var(--primary-color);
}
.color-light {
  color: var(--txt-color-2);
}
.color-dark {
  color: var(--txt-color);
}

.App {
  text-align: center;
}

/* Work around for error */
/* Uncaught ReferenceError: process is not defined */
iframe {
  display: none;
}

/* Utils */
.basic-link {
  text-decoration: none;
  color: var(--txt-color);
}
